.form_free_quote_block {
	position: absolute;
    max-width:1200px;
    width: 93%;
	display: block;
	left:0;
	right:0;
	margin: 0 auto;
	bottom: 0;
	transform: translateY(25%); 
	z-index: 1;
}
.form_free_quote_block.disabled {
	display: none;
}
.form_free_quote_block .container-form {

	background: #FFFFFF;
	border-radius: 24px;
	width: 100%;
	align-items: center;
	position: relative;
	display: flex;
    flex-direction: column;
    gap: 20px;
	padding:20px;
}

.form_free_quote_block .form-title-main{
    text-align: left;
    width: 100%;
    display: block;
    font-weight: 700;
	font-size: 16px;
	/* identical to box height */
	
	
	color: #006DD2;
}





.form_free_quote_block .container-form .form {
	width: 100%;
	margin:0px;
}
.form_free_quote_block .container-form .form form p {
	text-align: left;
	font-weight: 600;
	line-height: 24px;
	font-size: 16px;
}
@media all and (max-width: 576px) {
	.form_free_quote_block .container-form .form form p {
		font-size: 14px;
	}
}
.form_free_quote_block .container-form .form form .flex {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: space-between;
	
}
.form_free_quote_block .container-form .form form .flex .block-input {
	background: #F4F8FD;
	border-radius: 12px;
	padding: 15px 20px;
	width: 32%;
}
.form_free_quote_block .container-form .form form .flex .field input {
    background: #f4f8fd;
}
@media all and (max-width: 991px) {
	.form_free_quote_block .container-form .form form .flex .block-input {
		padding: 15px 10px;
	}
}

.form_free_quote_block .container-form .form form .flex .block-input input:-webkit-autofill,
.form_free_quote_block .container-form .form form .flex .block-input input:-webkit-autofill:hover,
.form_free_quote_block .container-form .form form .flex .block-input input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px #F4F8FD inset;
}
.form_free_quote_block .container-form .form form .flex .block-input p {
	line-height: 24px;
	color: rgba(36, 36, 36, 0.72);
	font-size: 14px;
	font-weight: 400;
}

.form_free_quote_block .container-form .form form .flex .block-input.error {
	background: #fdf4f4;
}
.form_free_quote_block .container-form .form form .flex .block-input.error input {
	background: #fdf4f4;
}
.form_free_quote_block .container-form .form form .flex .block-input.error h4 {
	color: rgba(210, 0, 0, 0.72);
}
@media all and (max-width: 575px) {
	.form_free_quote_block .container-form .form form .flex .block-input {
		width: 100%;
	}
}
.form_free_quote_block .container-form .form form .checkbox label a {
	color: #006dd2;
	border-bottom: 1px solid #006dd2;
}
.form_free_quote_block .container-form .form form .checkbox label a:hover {
	text-decoration: none;
}
.form_free_quote_block .container-form .form form .form_btn {
	margin-top: 20px;
	width: 100%;
}
.form_free_quote_block .container-form .form form .form_btn button {
	justify-content: center;
}
@media all and (max-width: 991px) {
}
@media all and (max-width: 767px) {
	.form_free_quote_block .container-form .form {
		width: 100%;
	}
	.form_free_quote_block .container-form .form form .flex {
		display: flex;
		gap: 10px;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		
	}
	.form_free_quote_block .container-form .form form .flex .block-input {
		width: 100%;
		font-size: 14px;
	}

	.form_free_quote_block .container-form .form form .flex .field input {
		font-size: 14px;
	}
	.form_free_quote_block {
		transform: translateY(50%); 
	}
}



@media (max-width: 386px) {
   
	.form_free_quote_block {
		transform: translateY(55%);
	}
	
}
@media (max-width: 345px) {
	.form_free_quote_block {
		transform: translateY(28%);
	}
}
.block_btn{
	position: relative;
	display: flex;
	justify-content:center;
}
.block_btn:before {
	position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: calc(50% - 125px);
    height: 1.83px;
    background: #006DD2;
}
.block_btn:after {
	position: absolute;
    content: "";
    top: 50%;
    right: 0;
    width: calc(50% - 125px);
    height: 1.83px;
    background: #006DD2;
}